In [3]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
import geopandas as gpd

In [4]:
# Load the CSV file
data = pd.read_csv('Airbnb_Open_Data.csv',low_memory=False)

# Set the display option to show all columns
pd.set_option('display.max_columns', None)

# Display the loaded data
data.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020.0,$966,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,US,True,flexible,Private room,2005.0,$620,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,US,True,moderate,Entire home/apt,2005.0,$368,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,False,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service fee                     102326 non-null  object
 17  minimum nights                  102190 non-null  float64
 18  number of reviews               102416 non-null  float64
 19  last review                     86706 non-null   object
 20  reviews per month               86720 non-null   float64
 21  review rate number              102273 non-null  float64
 22  calculated host listings count  102280 non-null  float64
 23  availability 365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

In [6]:
data.describe()

,id,host id,lat,long,Construction year,minimum nights,number of reviews,reviews per month,review rate number,calculated host listings count,availability 365
count,1.025990e+05,1.025990e+05,102591.000000,102591.000000,102385.000000,102190.000000,102416.000000,86720.000000,102273.000000,102280.000000,102151.000000
mean,2.914623e+07,4.925411e+10,40.728094,-73.949644,2012.487464,8.135845,27.483743,1.374022,3.279106,7.936605,141.133254
std,1.625751e+07,2.853900e+10,0.055857,0.049521,5.765556,30.553781,49.508954,1.746621,1.284657,32.218780,135.435024
min,1.001254e+06,1.236005e+08,40.499790,-74.249840,2003.000000,-1223.000000,0.000000,0.010000,1.000000,1.000000,-10.000000
25%,1.508581e+07,2.458333e+10,40.688740,-73.982580,2007.000000,2.000000,1.000000,0.220000,2.000000,1.000000,3.000000
50%,2.913660e+07,4.911774e+10,40.722290,-73.954440,2012.000000,3.000000,7.000000,0.740000,3.000000,1.000000,96.000000
75%,4.320120e+07,7.399650e+10,40.762760,-73.932350,2017.000000,5.000000,30.000000,2.000000,4.000000,2.000000,269.000000
max,5.736742e+07,9.876313e+10,40.916970,-73.705220,2022.000000,5645.000000,1024.000000,90.000000,5.000000,332.000000,3677.000000

In [8]:
df = data.copy()

In [12]:
df["host id"].unique()

array([80014485718, 52335172823, 78829239556, ..., 23801060917,
       15593031571, 93578954226], dtype=int64)

In [13]:
df.dropna(subset=["price"], inplace=True)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 102352 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102352 non-null  int64
 1   NAME                            102105 non-null  object
 2   host id                         102352 non-null  int64
 3   host_identity_verified          102067 non-null  object
 4   host name                       101951 non-null  object
 5   neighbourhood group             102324 non-null  object
 6   neighbourhood                   102337 non-null  object
 7   lat                             102344 non-null  float64
 8   long                            102344 non-null  float64
 9   country                         101825 non-null  object
 10  country code                    102226 non-null  object
 11  instant_bookable                102252 non-null  object
 12  cancellation_policy             102281 non-null  object
 13  room type                       102352 non-null  object
 14  Construction year               102142 non-null  float64
 15  price                           102352 non-null  object
 16  service fee                     102113 non-null  object
 17  minimum nights                  101943 non-null  float64
 18  number of reviews               102169 non-null  float64
 19  last review                     86485 non-null   object
 20  reviews per month               86500 non-null   float64
 21  review rate number              102026 non-null  float64
 22  calculated host listings count  102033 non-null  float64
 23  availability 365                101904 non-null  float64
 24  house_rules                     50356 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 21.1+ MB

In [15]:
df.drop("country code", axis=1, inplace=True)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 102067 entries, 0 to 102598
Data columns (total 24 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102067 non-null  int64
 1   NAME                            101832 non-null  object
 2   host id                         102067 non-null  int64
 3   host_identity_verified          102067 non-null  object
 4   host name                       101667 non-null  object
 5   neighbourhood group             102047 non-null  object
 6   neighbourhood                   102052 non-null  object
 7   lat                             102059 non-null  float64
 8   long                            102059 non-null  float64
 9   country                         101543 non-null  object
 10  instant_bookable                101975 non-null  object
 11  cancellation_policy             101999 non-null  object
 12  room type                       102067 non-null  object
 13  Construction year               101874 non-null  float64
 14  price                           102067 non-null  object
 15  service fee                     101829 non-null  object
 16  minimum nights                  101668 non-null  float64
 17  number of reviews               101884 non-null  float64
 18  last review                     86242 non-null   object
 19  reviews per month               86258 non-null   float64
 20  review rate number              101755 non-null  float64
 21  calculated host listings count  101757 non-null  float64
 22  availability 365                101627 non-null  float64
 23  house_rules                     50189 non-null   object
dtypes: float64(9), int64(2), object(13)
memory usage: 19.5+ MB

In [17]:
df.drop("license", axis=1, inplace=True)

In [19]:
df.dropna(subset=["host_identity_verified"], inplace=True)

In [21]:
df["instant_bookable"].unique()

array([False, True, nan], dtype=object)

In [23]:
df["neighbourhood group"].value_counts()

Manhattan        43567
Brooklyn         41628
Queens           13207
Bronx             2696
Staten Island      947
brookln              1
manhatan             1
Name: neighbourhood group, dtype: int64

In [25]:
# Define the replacement mappings
replace_dict = {
    'brookln': 'Brooklyn',
    'manhatan': 'Manhattan'
}

# Replace values in the column
df['neighbourhood group'] = df["neighbourhood group"].replace(replace_dict)

In [26]:
df["neighbourhood group"].value_counts()

Manhattan        43568
Brooklyn         41629
Queens           13207
Bronx             2696
Staten Island      947
Name: neighbourhood group, dtype: int64

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 102067 entries, 0 to 102598
Data columns (total 23 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102067 non-null  int64
 1   NAME                            101832 non-null  object
 2   host_identity_verified          102067 non-null  object
 3   host name                       101667 non-null  object
 4   neighbourhood group             102047 non-null  object
 5   neighbourhood                   102052 non-null  object
 6   lat                             102059 non-null  float64
 7   long                            102059 non-null  float64
 8   country                         101543 non-null  object
 9   instant_bookable                101975 non-null  object
 10  cancellation_policy             101999 non-null  object
 11  room type                       102067 non-null  object
 12  Construction year               101874 non-null  float64
 13  price                           102067 non-null  float64
 14  service fee                     101829 non-null  float64
 15  minimum nights                  101668 non-null  float64
 16  number of reviews               101884 non-null  float64
 17  last review                     86242 non-null   object
 18  reviews per month               86258 non-null   float64
 19  review rate number              101755 non-null  float64
 20  calculated host listings count  101757 non-null  float64
 21  availability 365                101627 non-null  float64
 22  house_rules                     50189 non-null   object
dtypes: float64(11), int64(1), object(11)
memory usage: 18.7+ MB

In [28]:
df.drop(columns = ["host id"], inplace = True)

In [40]:
#Clean Price & service fee
df['price'].replace(to_replace='^\$',value='', regex=True, inplace=True)
df['price'].replace(to_replace=',',value='', regex=True, inplace=True)
df['service fee'].replace(to_replace='^\$',value='', regex=True, inplace=True)
df['service fee'].replace(to_replace=',',value='', regex=True, inplace=True)

In [41]:
df.head()

,id,NAME,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules
0,1001254,Clean & quiet apt home by the park,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,False,strict,Private room,2020.0,966,193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...
1,1002102,Skylit Midtown Castle,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,False,moderate,Entire home/apt,2007.0,142,28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...
3,1002755,NaN,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,True,moderate,Entire home/apt,2005.0,368,74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,False,moderate,Entire home/apt,2009.0,204,41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th..."
5,1004098,Large Cozy 1 BR Apartment In Midtown East,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,True,flexible,Entire home/apt,2013.0,577,115,3.0,74.0,6/22/2019,0.59,3.0,1.0,374.0,"No smoking, please, and no drugs."

In [42]:
df['price'] = df['price'].astype('float64')
df['service fee'] = df['service fee'].astype('float64')

#### Clean last review

In [45]:
df['last review'] = pd.to_datetime(df['last review'])

#### Drop House Rules

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 102067 entries, 0 to 102598
Data columns (total 22 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102067 non-null  int64
 1   NAME                            101832 non-null  object
 2   host_identity_verified          102067 non-null  object
 3   host name                       101667 non-null  object
 4   neighbourhood group             102047 non-null  object
 5   neighbourhood                   102052 non-null  object
 6   lat                             102059 non-null  float64
 7   long                            102059 non-null  float64
 8   country                         101543 non-null  object
 9   instant_bookable                101975 non-null  object
 10  cancellation_policy             101999 non-null  object
 11  room type                       102067 non-null  object
 12  Construction year               101874 non-null  float64
 13  price                           102067 non-null  float64
 14  service fee                     101829 non-null  float64
 15  minimum nights                  101668 non-null  float64
 16  number of reviews               101884 non-null  float64
 17  last review                     86242 non-null   datetime64[ns]
 18  reviews per month               86258 non-null   float64
 19  review rate number              101755 non-null  float64
 20  calculated host listings count  101757 non-null  float64
 21  availability 365                101627 non-null  float64
dtypes: datetime64[ns](1), float64(11), int64(1), object(9)
memory usage: 17.9+ MB