## EDA Project - AirBnB

#### Usefull Imports

In [101]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, timedelta
from pathlib import Path

#### Read Data

In [102]:
path = Path("Airbnb_Open_Data.csv")
file_path = str(path.parent.absolute().parent.absolute()) + '\\01.Data\\Airbnb_Open_Data.csv'
df_original = pd.read_csv(file_path)

C:\Users\chris\AppData\Local\Temp\ipykernel_21116\3986664154.py:3: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df_original = pd.read_csv(file_path)

In [103]:
df_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service fee                     102326 non-null  object
 17  minimum nights                  102190 non-null  float64
 18  number of reviews               102416 non-null  float64
 19  last review                     86706 non-null   object
 20  reviews per month               86720 non-null   float64
 21  review rate number              102273 non-null  float64
 22  calculated host listings count  102280 non-null  float64
 23  availability 365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

In [104]:
# copy to a new DataFrame
df = df_original.copy()

#### Drop Country

In [105]:
df.drop('country', axis=1, inplace=True)
df.drop('country code', axis=1, inplace=True)

#### DropNA host_identity_verified

In [106]:
df.dropna(subset=['host_identity_verified'], inplace=True)

#### Clean neighbourhood group

In [107]:
replace_dict = {
    'brookln': 'Brooklyn',
    'manhatan': 'Manhattan'
}

#Replace values in the column
df['neighbourhood group'] = df['neighbourhood group'].replace(replace_dict)

#### Drop Host ID

In [108]:
df.drop(columns = ['host id'], inplace = True)

#### Clean Price & service fee

In [109]:
df['price'].replace(to_replace='^\$',value='', regex=True, inplace=True)
df['price'].replace(to_replace=',',value='', regex=True, inplace=True)
df['service fee'].replace(to_replace='^\$',value='', regex=True, inplace=True)
df['service fee'].replace(to_replace=',',value='', regex=True, inplace=True)

In [110]:
df['price'] = df['price'].astype('float64')
df['service fee'] = df['service fee'].astype('float64')

In [111]:
df.dropna(subset=["price"], inplace=True)

#### Clean last review

In [112]:
# convert this column to date time object
df['last review'] = pd.to_datetime(df['last review'])

#### Drop House Rules

In [113]:
# Because of high NaN values, I am droping this column
df.drop(columns = ['house_rules'], axis = 1, inplace = True)

#### Drop License

In [114]:
# Because of high NaN values, I am droping this column
df.drop(columns = ['license'], axis = 1, inplace = True)

#### Check Dataset after Cleaning

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 102067 entries, 0 to 102598
Data columns (total 21 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102067 non-null  int64
 1   NAME                            101832 non-null  object
 2   host_identity_verified          102067 non-null  object
 3   host name                       101667 non-null  object
 4   neighbourhood group             102047 non-null  object
 5   neighbourhood                   102052 non-null  object
 6   lat                             102059 non-null  float64
 7   long                            102059 non-null  float64
 8   instant_bookable                101975 non-null  object
 9   cancellation_policy             101999 non-null  object
 10  room type                       102067 non-null  object
 11  Construction year               101874 non-null  float64
 12  price                           102067 non-null  float64
 13  service fee                     101829 non-null  float64
 14  minimum nights                  101668 non-null  float64
 15  number of reviews               101884 non-null  float64
 16  last review                     86242 non-null   datetime64[ns]
 17  reviews per month               86258 non-null   float64
 18  review rate number              101755 non-null  float64
 19  calculated host listings count  101757 non-null  float64
 20  availability 365                101627 non-null  float64
dtypes: datetime64[ns](1), float64(11), int64(1), object(8)
memory usage: 17.1+ MB

In [116]:
df.describe()

,id,lat,long,Construction year,price,service fee,minimum nights,number of reviews,reviews per month,review rate number,calculated host listings count,availability 365
count,1.020670e+05,102059.000000,102059.000000,101874.000000,102067.000000,101829.000000,101668.000000,101884.000000,86258.000000,101755.000000,101757.000000,101627.000000
mean,2.917394e+07,40.728090,-73.949632,2012.489104,625.250032,125.030522,8.114412,27.438636,1.374862,3.279387,7.931779,141.130949
std,1.624713e+07,0.055859,0.049532,5.764709,331.689511,66.337414,30.513726,49.439793,1.748458,1.284340,32.217935,135.443628
min,1.001254e+06,40.499790,-74.249840,2003.000000,50.000000,10.000000,-1223.000000,0.000000,0.010000,1.000000,1.000000,-10.000000
25%,1.512779e+07,40.688750,-73.982570,2007.000000,339.500000,68.000000,2.000000,1.000000,0.220000,2.000000,1.000000,3.000000
50%,2.916477e+07,40.722290,-73.954430,2012.000000,624.000000,125.000000,3.000000,7.000000,0.740000,3.000000,1.000000,96.000000
75%,4.322053e+07,40.762760,-73.932340,2017.750000,913.000000,183.000000,5.000000,30.000000,2.000000,4.000000,2.000000,269.000000
max,5.736742e+07,40.916970,-73.705220,2022.000000,1200.000000,240.000000,5645.000000,1024.000000,90.000000,5.000000,332.000000,3677.000000

In [118]:
# converting to CSV file
file_path = str(path.parent.absolute().parent.absolute()) + '\\01.Data\\Cleaned_Data.csv'
df.to_csv(file_path)